<!DOCTYPE html>
<html lang="ru">
<head>
	<title>Узнайте стоимость вашей будущей кухни за 60 секунд + получите гарантированный подарок</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel="stylesheet" href="libs/style.css">
	<script src="libs/jquery-3.2.1.min.js"></script>
	<script src="libs/jquery.bxslider.min.js"></script>
	<script src="libs/jquery.maskedinput.min.js"></script>
	<script src="libs/is.mobile.js"></script>
	
	<link href="images/favicon.ico" rel="shortcut icon">
	<!-- <script src="libs/jquery.validate.js"></script> -->
	
	
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter47313057 = new Ya.Metrika({
                    id:47313057,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/47313057" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</head>

<body>



		<% if (url_code.url_code=='1') { %>
			<script>console.log("ayo");</script>
			<div id="verj">
				<center>
						<img id="nkarik" src="img/done.png">
						<h1>Заявка отправлена. Мы уже приступили к расчету стоимости.</h1>
						<h3>Мы пришлем стоимость СМС сообщением на указанный номер телефона, а также наш менеджер перезвонит Вам.</h3>
				</center>
				

			</div>

			<style>
				#nkarik{
					margin-top: 200px;
				}

			#verj{
				background-color: white;
				height: 99%;
				width: 93%;
				position: absolute;
				z-index: 999999;
			}
			</style>
			
		  <% } %>



<form class="" method="POST" action="/test?url_code=1">
	<!-- LOGO + TITLE START -->
	<div class="header-line">
		<div class="container">
			<img src="img/logo.png" height="100px" alt="logo" class="header-line__logo">
			<h2 class="header-line__title">
				Узнайте стоимость вашей будущей кухни за 60 секунд
				<br>+ получите гарантированный подарок
			</h2>
		</div>
	</div>
	<!-- LOGO + TITLE END -->

	<!-- PROGRESS LINE START -->
	<div class="progress-line">
		<div class="main-progress">
			<div class="main-progress__extender"></div>
			<!-- STEPS TEXT START -->
			<div class="main-progress__text">
				<b>Осталось ответить на 6 вопросов,</b> чтобы получить гарантированный подарок
			</div>
			<!-- STEPS TEXT END -->
			<!-- STEPS TEXT START -->
			<div class="main-progress__text">
					<b>Осталось ответить на 5 вопросов,</b> чтобы получить гарантированный подарок
			</div>
			<!-- STEPS TEXT END -->
			<!-- STEPS TEXT START -->
			<div class="main-progress__text">
					<b>Осталось ответить на 4 вопроса,</b> чтобы получить гарантированный подарок
			</div>
			<!-- STEPS TEXT END -->
			<!-- STEPS TEXT START -->
			<div class="main-progress__text">
					<b>Осталось ответить на 3 вопроса,</b> чтобы получить гарантированный подарок
			</div>
			<!-- STEPS TEXT END -->	
			<!-- STEPS TEXT START -->
			<div class="main-progress__text">
					<b>Осталось ответить на 2 вопроса,</b> чтобы получить гарантированный подарок
			</div>
			<!-- STEPS TEXT END -->	
			<!-- STEPS TEXT START -->
			<div class="main-progress__text">
					<b>Осталось ответить на 1 вопрос,</b> чтобы получить гарантированный подарок
			</div>
			<!-- STEPS TEXT END -->				
			<!-- STEPS TEXT START -->
			<div class="main-progress__text">
				<b>Тест пройден.</b> Заполните форму ниже, чтобы зафиксировать свой подарок
			</div>
			<!-- STEPS TEXT END -->				
		</div>
		<div class="container">
			<div class="step">
				<div class="step__text">Шаг <span>1</span></div>
				<div class="step__extender"></div>
			</div>
		</div>
	</div>
	<!-- PROGRESS LINE END -->

	<!-- STEPS START -->
	<div class="container">
		<div class="test-slider">
			<!-- ONE-STEP START -->
			<div class="step-slide">
				<h3 class="step-slide__title">
					В каком стиле вы хотите кухню?
				</h3>
				<div class="step-slide__grid">
					<!-- ONE-ITEM START -->
					<label for="step1-1" class="pick-item">
						<div class="pick-item__img">
							<img src="img/s1-1.jpg" alt="item">
						</div>					
						<input class="pick-item__input" type="radio" name="step1" id="step1-1" value="Классика">
						<div class="pick-item__label">Классика</div>
					</label>
					<!-- ONE-ITEM END -->
					
					<!-- ONE-ITEM START -->
					<label for="step1-2" class="pick-item">
						<div class="pick-item__img">
							<img src="img/s1-2.jpg" alt="item">
						</div>					
						<input class="pick-item__input" type="radio" name="step1" id="step1-2" value="Модерн">
						<div class="pick-item__label">Модерн</div>
					</label>
					<!-- ONE-ITEM END -->

					<!-- ONE-ITEM START -->
					<label for="step1-3" class="pick-item">
						<div class="pick-item__img">
							<img src="img/s1-3.jpg" alt="item">
						</div>					
						<input class="pick-item__input" type="radio" name="step1" id="step1-3" value="Минимализм">
						<div class="pick-item__label">Минимализм</div>
					</label>
					<!-- ONE-ITEM END -->
				
					<div id="next1" class="btn-next-container"></div>
				</div>
			</div>
			<!-- ONE-STEP END -->


			
			<!-- ONE-STEP START -->
			<div class="step-slide">
				<h3 class="step-slide__title">
					В каком цвете вы бы хотели кухню?
				</h3>
				<div class="step-slide__grid">
					<!-- ONE-ITEM START -->
					<label for="step2-1" class="pick-item">
						<div class="pick-item__img">
							<img src="img/s2-1.jpg" alt="item">
						</div>					
						<input class="pick-item__input" type="radio" name="step2" id="step2-1" value="Темные цвета">
						<div class="pick-item__label">Темные цвета</div>
					</label>
					<!-- ONE-ITEM END -->
					
					<!-- ONE-ITEM START -->
					<label for="step2-2" class="pick-item">
						<div class="pick-item__img">
							<img src="img/s2-2.jpg" alt="item">
						</div>					
						<input class="pick-item__input" type="radio" name="step2" id="step2-2" value="Светлые цвета">
						<div class="pick-item__label">Светлые цвета</div>
					</label>
					<!-- ONE-ITEM END -->

					<!-- ONE-ITEM START -->
					<label for="step2-3" class="pick-item">
						<div class="pick-item__img">
							<img src="img/s2-3.jpg" alt="item">
						</div>					
						<input class="pick-item__input" type="radio" name="step2" id="step2-3" value="Цветная">
						<div class="pick-item__label">Цветная</div>
					</label>
					<!-- ONE-ITEM END -->
				
					<div id="next2" class="btn-next-container"></div>
				</div>
			</div>
			<!-- ONE-STEP END -->
			
			
			<!-- ONE-STEP START -->
			<div class="step-slide">
				<h3 class="step-slide__title">
					Какой материал вам нравится?
				</h3>
				<div class="step-slide__grid">
					<!-- ONE-ITEM START -->
					<label for="step3-1" class="pick-item">
						<div class="pick-item__img">
							<img src="img/s3-1.jpg" alt="item">
						</div>					
						<input class="pick-item__input" type="radio" name="step3" id="step3-1" value="Эмаль">
						<div class="pick-item__label">Эмаль</div>
					</label>
					<!-- ONE-ITEM END -->
					
					<!-- ONE-ITEM START -->
					<label for="step3-2" class="pick-item">
						<div class="pick-item__img">
							<img src="img/s3-2.jpg" alt="item">
						</div>					
						<input class="pick-item__input" type="radio" name="step3" id="step3-2" value="Шпон">
						<div class="pick-item__label">Шпон</div>
					</label>
					<!-- ONE-ITEM END -->

					<!-- ONE-ITEM START -->
					<label for="step3-3" class="pick-item">
						<div class="pick-item__img">
							<img src="img/s3-3.jpg" alt="item">
						</div>					
						<input class="pick-item__input" type="radio" name="step3" id="step3-3" value="Массив">
						<div class="pick-item__label">Массив</div>
					</label>
					<!-- ONE-ITEM END -->
					<!-- ONE-ITEM START -->
					<label for="step3-4" class="pick-item">
						<div class="pick-item__img">
							<img src="img/s3-4.jpg" alt="item">
						</div>					
						<input class="pick-item__input" type="radio" name="step3" id="step3-4" value="Пластик">
						<div class="pick-item__label">Пластик</div>
					</label>
					<!-- ONE-ITEM END -->
					
					<!-- ONE-ITEM START -->
					<label for="step3-5" class="pick-item">
						<div class="pick-item__img">
							<img src="img/s3-5.jpg" alt="item">
						</div>					
						<input class="pick-item__input" type="radio" name="step3" id="step3-5" value="Бетон">
						<div class="pick-item__label">Бетон</div>
					</label>
					<!-- ONE-ITEM END -->

					<!-- ONE-ITEM START -->
					<label for="step3-6" class="pick-item">
						<div class="pick-item__img">
							<img src="img/s3-6.jpg" alt="item">
						</div>					
						<input class="pick-item__input" type="radio" name="step3" id="step3-6" value="Ещё не знаю">
						<div class="pick-item__label">Ещё не знаю</div>
					</label>
					<!-- ONE-ITEM END -->					
				
					<div id="next3" class="btn-next-container"></div>
				</div>
			</div>
			<!-- ONE-STEP END -->			
			
			
			
			<!-- ONE-STEP START -->
			<div class="step-slide">
				<h3 class="step-slide__title">
				Как срочно вам нужна новая кухня?
				</h3>
				<div class="step-slide__grid">
					<!-- ONE-ITEM START -->
					<label for="step4-1" class="pick-item">
						<input class="pick-item__input" type="radio" name="step4" id="step4-1" value="Как срочно вам нужна новая кухня? - Через 1 месяц">
						<div class="pick-item__label">Через 1 месяц</div>
					</label>
					<!-- ONE-ITEM END -->

					<!-- ONE-ITEM START -->
					<label for="step4-2" class="pick-item">
						<input class="pick-item__input" type="radio" name="step4" id="step4-2" value="Как срочно вам нужна новая кухня? - Через 2 месяца">
						<div class="pick-item__label">Через 2 месяца</div>
					</label>
					<!-- ONE-ITEM END -->
				
					<!-- ONE-ITEM START -->
					<label for="step4-3" class="pick-item">
						<input class="pick-item__input" type="radio" name="step4" id="step4-3" value="Как срочно вам нужна новая кухня? - Через 3 месяца">
						<div class="pick-item__label">Через 3 месяца</div>
					</label>
					<!-- ONE-ITEM END -->
					
					<!-- ONE-ITEM START -->
					<label for="step4-4" class="pick-item">
						<input class="pick-item__input" type="radio" name="step4" id="step4-4" value="Как срочно вам нужна новая кухня? - Через 6 месяцев">
						<div class="pick-item__label">Как можно скорее</div>
					</label>
					<!-- ONE-ITEM END -->					
					
					<div id="next4" class="btn-next-container"></div>
				</div>
			</div>
			<!-- ONE-STEP END -->	
			
			
			
			<!-- ONE-STEP START -->
			<div class="step-slide">
				<h3 class="step-slide__title">
				Какой бюджет вы планируете на кухню?
				</h3>
				<div class="step-slide__grid">
					<!-- ONE-ITEM START -->
					<label for="step5-1" class="pick-item">
						<input class="pick-item__input" type="radio" name="step5" id="step5-1" value="Какой бюджет вы планируете на кухню? Стандарт от 50 000 до 150 000 руб.">
						<div class="pick-item__label">Стандарт<br>от 1300 до 3000 бел.руб.</div>
					</label>
					<!-- ONE-ITEM END -->

					<!-- ONE-ITEM START -->
					<label for="step5-2" class="pick-item">
						<input class="pick-item__input" type="radio" name="step5" id="step5-2" value="Какой бюджет вы планируете на кухню? Престиж от 150 000 до 200 000 руб.">
						<div class="pick-item__label">Престиж<br>от 3000 до 5000 бел.руб.</div>
					</label>
					<!-- ONE-ITEM END -->
				
					<!-- ONE-ITEM START -->
					<label for="step5-3" class="pick-item">
						<input class="pick-item__input" type="radio" name="step5" id="step5-3" value="Какой бюджет вы планируете на кухню? Премиум от 200 000 до 350 000 руб.">
						<div class="pick-item__label">Премиум<br>от 5000 до 10000 бел.руб. </div>
					</label>
					<!-- ONE-ITEM END -->
					
					<!-- ONE-ITEM START -->
					<label for="step5-4" class="pick-item">
						<input class="pick-item__input" type="radio" name="step5" id="step5-4" value="Какой бюджет вы планируете на кухню? Максимальный от 350 000 руб.">
						<div class="pick-item__label">Максимальный<br>от 10000 бел.руб.</div>
					</label>
					<!-- ONE-ITEM END -->					
					
					<div id="next5" class="btn-next-container"></div>
				</div>
			</div>
			<!-- ONE-STEP END -->				
			
			
			
			<!-- ONE-STEP START -->
			<div class="step-slide">
				<h3 class="step-slide__title">
					Выберите ваш подарок к кухне:
				</h3>
				<div class="step-slide__grid">
					<!-- ONE-ITEM START -->
					<label for="step6-1" class="pick-item">
						<div class="pick-item__img">
							<img src="img/s6-1.jpg" alt="item">
						</div>					
						<input class="pick-item__input" type="radio" name="step6" id="step6-1" value="Подарок к кухне: Мойка из камня">
						<div class="pick-item__label">Мойка из камня<br>(цена отдельно 300 бел.руб.)</div>
					</label>
					<!-- ONE-ITEM END -->
					
					<!-- ONE-ITEM START -->
					<label for="step6-2" class="pick-item">
						<div class="pick-item__img">
							<img src="img/s6-2.jpg" alt="item">
						</div>					
						<input class="pick-item__input" type="radio" name="step6" id="step6-2" value="Подарок к кухне: Светодиодная подсветка">
						<div class="pick-item__label">Светодиодная подсветка<br>(цена отдельно 250 бел.руб.)</div>
					</label>
					<!-- ONE-ITEM END -->

					<!-- ONE-ITEM START -->
					<label for="step6-3" class="pick-item">
						<div class="pick-item__img">
							<img src="img/s6-3.jpg" alt="item">
						</div>					
						<input class="pick-item__input" type="radio" name="step6" id="step6-3" value="Подарок к кухне: Варочная панель SMEG!">
						<div class="pick-item__label">Варочная панель SMEG<br>(Цена отдельно 600 бел.руб.)</div>
					</label>
					<!-- ONE-ITEM END -->
					<br>
					<div id="tartcutyun" style="width:1000px;"></div>
					<br>
					<a href="/"><div  class="btn-next-container"></div></a>
				</div>
			</div>
			<!-- ONE-STEP END -->
						

			
			<!-- ONE-STEP START -->
			<div class="step-slide">
				<h3 class="step-slide__title">
					Спасибо за ответы! Получите результат расчета, оставив контакты.
				</h3>
				<div class="step-slide__grid">
					<h4 class="step-slide__discount">+ гарантированный подарок</h4>
					<div class="last-step-form">
						<label class="last-step-form__label">Введите номер телефона, мы вышлем СМС с результатами:</label>
						<input class="last-step-form__input" type="text" name="phone" placeholder="Введите Ваш номер">
						<input type="submit" class="last-step-form__button btn-shine" value="получить результат расчета" >
						
						
					</div>
				</div>
				
			</div>
			<!-- ONE-STEP END -->

			<!-- ONE-STEP START -->
			<div class="step-slide">
				<!-- AFTER SUBMIT START -->
				<div class="after-submit">
					<div class="container">
						<h4 class="after-submit__title">Заявка отправлена. Мы уже приступили к расчету стоимости.</h4>
						<h5 class="after-submit__descr">Мы пришлем стоимость СМС сообщением на указанный номер телефона, а также наш менеджер перезвонит Вам.</h5>
					</div>
				</div>
				<!-- AFTER SUBMIT END -->
			</div>
			<!-- ONE-STEP END -->
		</div>
	</div>
	<!-- STEPS END -->

</form>

<script src="libs/main.js"></script>
</body>
</html>